

/* ==========================================================================
   						OVERALL
   ========================================================================== */

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.navbar-brand {
	padding-left: 5px;
	padding-top: 5px;
}

#search-btn {
	margin-right: 3px;
}

#profile-thumbnail {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	margin-top: 7px;
}

.mobile-links {
	text-align: center
}

#mobile-links {
	display: none;
	font-size: 2em;
}

#main-nav a {
	font-size: 18px;
	padding-top: 18px;
}

#footer {
	text-align: center;
}

.card {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.item {
    margin-right: 0 !important;
    margin-left: 0 !important; 
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    display: block;
    margin: -1px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

.item-no-text-wrap p, h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tabs {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: horizontal;
    flex-direction: horizontal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #444;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-size: 0;
    text-align:center; 
    position: relative !important; 
    background-color: rgb(245, 245, 245);
}

.tab-item {
    font-size: 17px;
    text-decoration: none;
    color: #444;
    width: 100%;
    padding: 7px;
}

/* ==========================================================================
   						MEDIA QEURIES
   ========================================================================== */

@media (max-width: 767px) {

#mobile-links {
	display:block;
}

#search-field {
	display: inline;
	width: 90%;
}

#main-nav {
	display: none;
}

#profile-thumbnail {
	display: none;
}

}


/* ==========================================================================
                        HEADLINES
   ========================================================================== */

.headline {
    display: inline-block;
    width: 75%;
}

.vote {
    display: inline-block;
}

.count {
    color: #ccc;

}
















