<div ng-show="dataReady">
	<!-- <div class="form-group">
      <input id="search-field" type="text" placeholder="Search" class="form-control">
      <button id="search-btn" type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div> -->
	<div id="lines">
		<ul>
			<li class="flipInX animated card" ng-repeat="headline in lines">
				<div class="item">
					<h4 class="headline">{{headline.headline}}</h4>
					<img class="vote" src="../../../img/vote.png">
					<span class="count">{{headline.voteCount}}</span>
				</div>
			</li>
		</ul>
	</div>
</div>

<div ng-show="!dataReady" style="padding:7px; text-align:center;">
	<img src="../../../img/loading.gif">
</div>