<div ng-show="dataReady">
	<div id="lines">
		<ul>
			<li class="wow flipInX animated card" ng-repeat="headline in lines">
				<div class="item">
					<h4 class="headline">{{headline.headline}}</h4>
					<img class="vote" src="../../../img/upvote.png">
					<img class="vote" src="../../../img/downvote.png">
					<span class="count">{{headline.voteCount}}</span>
				</div>
			</li>
		</ul>
	</div>
</div>

<div ng-show="!dataReady" style="padding:7px; text-align:center;">
	<img src="../../../img/loading.gif">
</div>