<div class="profile" ng-show="loggedin">
	<button class="btn btn-large btn-primary"><a href="/auth/twitter">Sign In</a></button>
  <button class="btn btn-large btn-primary"><a href="/logout">Log out</a></button>

  <div style="margin-top:15%">
  	<input type="text" ng-model="headline" placeholder="Enter a headline..">
  	<button ng-click="PostHeadline()" class="btn btn-large btn-primary">Post</button>
  </div>
</div>

<div class="profile" ng-show="!loggedin">
	<div class="card" style="text-align:center; margin: 100px 0;">
		<div class="item">
			<h3 style="margin:0;">Post Headlines. Write Articles. Get Recognized.</h3>
			<h5 style="margin-bottom:15px;">Login or create your new Headlines account now!</h5>
			<button class="btn btn-twitter" ng-click="TwitterAuth()"><i class="fa fa-twitter"></i>  Sign in with Twitter</button>
			<button class="btn btn-facebook" ng-click="TwitterAuth()"><i class="fa fa-facebook"></i>  Sign in with Facebook</button>
			<h5 style="opacity:0.5; margin-top:15px;">Don't worry, <strong>you</strong> choose when to post, not us!</h5>
		</div>
	</div>
</div>
