<div class="container-fluid">
	<div class="newheadline-wrapper">
		<div class="row">
			<h2 class="col-sm-6 nh-top">Edit Headline</h2>
			<p class="col-sm-6 nh-top nh-top__name"> @JohnAppleseed </p>
		</div>
		<hr>
		<div class="nh-form">
			<div class="row nh-form__input-row">
				<div ng-mod class="col col-sm-6">
					<div class="nh-form__label">Goal</div>
					<input  ng-model="headlineForm.goal" class="nh-form__input nh-form__input-goal" type="number">
				</div>
				<div class="col col-sm-6">
					<button ng-disabled="disableSubmit" class="btn btn-success btn-submit right" type="submit">Save</button>
					<button class="btn btn-danger btn-submit right" ng-click="delete()">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>