<div class="container-fluid">
	<div class="newheadline-wrapper">
		<div class="row">
			<h2 class="col-sm-6 nh-top">Create a Headline</h2>
			<p class="col-sm-6 nh-top nh-top__name"> @JohnAppleseed </p>
		</div>
		<hr>
		<div class="nh-form">
			<div class="nh-form__label" >Headline</div>
			<input ng-model="headlineForm.title" class="nh-form__input nh-form__input-row" type="text" placeholder="10 things you didn't know about Velocity.">
			<div class="nh-form__label">Subtitle</div>
			<input  ng-model="headlineForm.subtitle" class="nh-form__input nh-form__input-row" type="text" placeholder="Number 8 will blow your mind.">
			<div class="row nh-form__input-row">
				<div class="col col-sm-6">
					<div class="nh-form__label">Goal</div>
					<input  ng-model="headlineForm.threshold" class="nh-form__input nh-form__input-goal" type="number">
				</div>
				<div class="col col-sm-6">
					<button ng-disabled="disableSubmit" class="btn btn-success btn-submit right" type="submit" ng-click="submit()">Post</button>
					<button class="btn btn-danger btn-submit right" ng-click="clear()">Clear</button>
				</div>
			</div>
		</div>
	</div>
</div>
